<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalRush</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <header class = "header">
        <nav> 
            {{ include('navigation.html.twig') }}     
        </nav>
    </header>
    <main class="main">
        <div class="row g-0" mt-5>
            <div class="col sml-3">
                <div class="blog-icon">
                    <div class="link-section">
                        <a class ="link-section" href="/liveScore.php">
                            <img class="link-section" src="https://crests.football-data.org/PL.png" alt="GoalRush Logo">
                            <h3>Premier league</h3>
                            <p>Latest updates and news.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col sml-3">
                <div class="blog-icon">
                    <div class="link-section">
                        <a class ="link-section" href="/liveScore.php">
                            <img class="link-section" src="https://crests.football-data.org/SA.png" alt="GoalRush Logo">
                            <h3>Serie A</h3>
                            <p>Latest updates and news.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col sml-3">
                <div class="blog-icon">
                    <div class="link-section">
                        <a class ="link-section" href="/liveScore.php">
                            <img class="link-section" src="https://crests.football-data.org/BL1.png" alt="GoalRush Logo">
                            <h3>Bundesliga</h3>
                            <p>Latest updates and news.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 mt-4">
            <div class="col sml-3">
                <div class="blog-icon">
                    <div class="link-section">
                        <a class ="link-section" href="/liveScore.php">
                            <img class="link-section" src="https://crests.football-data.org/laliga.png" alt="GoalRush Logo">
                            <h3>LaLiga<h3>
                            <p>Latest updates and news.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col sml-3">
                <div class="blog-icon">
                    <div class="link-section">
                        <a class ="link-section" href="/liveScore.php">
                            <img class="link-section" src="https://crests.football-data.org/FL1.png" alt="GoalRush Logo">
                            <h3>Ligue 1 <h3>
                            <p>Latest updates and news.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col sml-3">
                <div class="blog-icon">
                    <div class="link-section">
                        <a class ="link-section" href="/liveScore.php">
                            <img class="link-section" src="https://crests.football-data.org/CL.png" alt="GoalRush Logo">
                            <h3>Champions league</h3>
                            <p>Latest updates and news.</p>`
                        </a>
                    </div>
                </div>
            </div>
        </div>                 
    </main>
    <footer class = "footer">
        <p>Copyright © 2025</p>
    </footer>
</body>
</html>