<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalRush</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <header class = "header">
        <nav> 
            {{ include('navigation.html.twig') }}     
        </nav>
    </header>
    <main class = "main">

    <div class="profile">

        <h1>Edit your Post</h1>

            {% if error %}
            <p style="color:red">{{ error }}</p>
            {% endif %}

            <form method="post">
                <label>Title:</label><br>
                <input type="text" name="title" value="{{ post.title }}"><br><br>

                <label>Content:</label><br>
                <textarea name="content" id="autoTextarea"  class="form-control" rows="10">{{ post.content }}</textarea><br>

                <button class="btn btn-primary type="submit">Save Changes</button>
                <a class="btn btn-primary" href="profile.php">Cancel</a>
            </form>
        </div>

    </main>
    <footer class = "footer">
        <p>Copyright © 2025</p>
    </footer>
</body>
</html>