    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Post - GoalRush</title>
    

        {# Local CSS #}
        <link rel="stylesheet" href="public/bootstrap.min.css">
        <link rel="stylesheet" href="public/style.css">

        {# Local JS #}
        <script src="public/bootstrap.bundle.min.js"></script>
        <script src="public/autosize.min.js"></script>
        </head>
