<div id="userButtons" class="header-buttons">
    {% if user %}
        {# Logout Button #}
        <form method="post" action="/logout.php" class="inline-form">
            <button class="buttonIcon" type="submit">
                <img src="icons/logout.png" alt="Logout Icon">
                Logout
            </button>
        </form>

        {# Profile Button #}
        <form method="post" action="/Profile.php" class="inline-form">
            <button class="buttonIcon delete-btn" type="submit">
                <img src="icons/user.png" alt="Login Icon">
                Your Profile
            </button>
        </form>
    {% else %}
        {# Login Button #}
        <form action="/login.php" class="inline-form">
            <button class="buttonIcon login-btn" type="submit">
                <img src="icons/user.png" alt="Login Icon">
                Login
            </button>
        </form>
        {# Register Button #}
        <form action="/Register.php" class="inline-form">
            <button class="buttonIcon login-btn" type="submit">
                <img src="icons/user.png" alt="Login Icon">
                Register
            </button>
        </form>
    {% endif %}
</div>