
{# Success Modal #}
<div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-success text-white">
       {# Modal Header #}
      <div class="modal-header">
        <h5 class="modal-title">
          {% if context == 'login' %}
              Login Successful
          {% elseif context == 'postCreated' %}
              Post Created
          {% else %}
              Registration Successful
          {% endif %}
        </h5>
        {# Close button #}
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {% if context == 'login' %}
          Welcome back {{username|e}}!
        {% elseif context == 'postCreated' %}
          Your post will be displayed on our website.
        {% else %}
          Welcome! Your account has been created.
        {% endif %}
      </div>
    </div>
  </div>
</div>

{# Error Modal #}
<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-danger text-white">
       {# Modal Header #}
      <div class="modal-header">
        <h5 class="modal-title">
          {% if context == 'login' %}
            Login Failed
          {% elseif context == 'postCreated' %}
              Post Created Failed
          {% else %}
            Registration Failed
          {% endif %}
        </h5>
        {# Close button #}
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      {# Modal with error message #}
      <div class="modal-body">
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li>{{ error|e }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if context == 'login' %}
              Please check your email or password and try again.
            {% else %}
              Please check your inputs and try again.
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
