<nav class="navbar navbar-dark custom-navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.php"><h1>GOALRUSH.COM</H1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
             aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">GoalRush</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.php">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/palmares.php">Palmares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liveScore.php">LiveScore</a>
                    </li>
                     {% if user %}
                     <li class="nav-item">
                        <a class="nav-link" href="/blog.php">Blog</a>
                    </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Leagues Standings
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/standings.php?league=PL">Premier League</a></li>
                            <li><a class="dropdown-item" href="/standings.php?league=SA">Serie A</a></li>
                            <li><a class="dropdown-item" href="/standings.php?league=BL1">Bundesliga</a></li>
                            <li><a class="dropdown-item" href="/standings.php?league=PD">La Liga</a></li>
                            <li><a class="dropdown-item" href="/standings.php?league=FL1">Ligue 1</a></li>
                        </ul>
                    </li>
                </ul>
                {# search the team with metode post to be handled in teamMatches.php #}
                <form id= "searchform" class="d-flex mt-3" role="search" method="POST" action= "/teamMatches.php">
                    <div class="relative w-full" id="searchContainer">
                    {# searchInput is a uniquely identifie input for JS #}
                    <input type="text" id="searchInput" class="p-2 border rounded w-full"
                        {# onkeyup="showHint(this.value) triggers a JavaScript function as the user types #}
                        placeholder="Search clubs..." onkeyup="showHint(this.value)" autocomplete="on" name="clubNameSearch">

                    {# id="txtHint" → used by JS to show live suggestions #}
                    <div id="txtHint" class="absolute left-0 right-0 bg-white border rounded mt-1 hidden z-50"></div>
                    </div>
                    <div class="ms-2">
                    {# submits the form to teamMatches.php #}
                    <button id="searchButton" class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
                {# including the loggin buttons  #}
                {{ include('loginButtons.html.twig') }}
                {# script for search #}
                <script src="public/js/search.js"></script>
            </div>
        </div>
    </div>
</nav>



