<nav class="navbar navbar-dalightrk custom-navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.php"><img class="websitelogo {" src='public/logo/logo.png' alt='GoalRush.com logo'></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">GoalRush</h5>
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.php">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Palmares.php">Palmares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="LiveScore.php">LiveScore</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Leagues
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="standings.php?league=PL">Premier League</a></li>
                            <li><a class="dropdown-item" href="standings.php?league=SA">Serie A</a></li>
                            <li><a class="dropdown-item" href="standings.php?league=BL1">Bundesliga</a></li>
                            <li><a class="dropdown-item" href="standings.php?league=PD">La Liga</a></li>
                            <li><a class="dropdown-item" href="standings.php?league=FL1">Ligue 1</a></li>
                        </ul>
                    </li>
                </ul>
                    </li>
                </ul>
                    {# <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-success" type="submit">Search</button>
                    </form> #}
                    {{ include('loginButtons.html.twig') }}
            </div>
        </div>
    </div>
</nav>



